<section>
    <div class="row">
        <div class="col-12 col-md-5">
            <h1>My name is
                <br>
                <span>Mikolaj</span>
            </h1>
        </div>
        <div class="col-12 col-md-7 pl-md-4">
            <div class="big-text about">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row" class="aos-wrapper">
        <div data-aos="fade-right" data-aos-duration="600" data-aos-offset="-200" data-aos-anchor-placement="top-center" data-aos-once="true"
            class="col-12 text-left quotation mt-md-0">
            <h3>I am a fronted developer
                <br> currently working in Aarhus</h3>
        </div>
        <div data-aos="fade-up" data-aos-duration="600" data-aos-offset="-200" data-aos-anchor-placement="top-center" data-aos-once="true"
            class="col-12 text-center quotation">
            <h3>Creating a connection between
                <br> components is my passion</h3>
        </div>
        <div data-aos="fade-left" data-aos-duration="600" data-aos-offset="-200" data-aos-anchor-placement="top-center" data-aos-once="true"
            class="col-12 text-right quotation">
            <h3>I am a team player that handles
                <br>the solo projects like a boss</h3>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12 text-center mb-4 mb-md-0">
            <h1>My Experience</h1>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12 col-md-6 pr-5">
            <div class="tile-image work-img"></div>
        </div>
        <div class="col-12 col-md-6 pl-5 mt-6">
            <div class="big-text work none">
                <div data-aos="fade-up" data-aos-duration="600" data-aos-offset="-200" data-aos-anchor-placement="top-center" data-aos-once="true">
                    <h3 class="decorator">Fronted Developer at nuvopoint
                        <span></span>
                    </h3>
                    <p>
                        I have been pioneering and modernizing the current Work practices to deliver the best and most professional solutions to
                        our Customers. In my work i try to introduce the newest frameworks for our Web Solutions and craft
                        each configuration of technologies based on our customer needs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12 col-md-6 mt-5 mt-md-0 pr-5 text-right o-2">
            <div data-aos="fade-up" data-aos-duration="600" data-aos-offset="-200" data-aos-anchor-placement="top-center" data-aos-once="true">
                <h3 class="decorator right">Intern at nuvopoint
                    <span></span>
                </h3>
                <p>
                    During the internship i was working on the Point of Sale application. My task was to create the cache layer in the application
                    and a communication layer between the same instances of the application. The task was over my head at
                    the time as i was just a third semester into my studies. By persistence i manged to complete it and get
                    offered the job.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 pl-5 mt-6 o-1">
            <div class="tile-image intern-img right"></div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12 col-md-6 pr-5">
            <div class="tile-image school-img"></div>
        </div>
        <div class="col-12 col-md-6 pl-5 mt-5 mt-md-0 mt-6">
            <div class="big-text school none">
                <div data-aos="fade-up" data-aos-duration="600" data-aos-offset="-200" data-aos-anchor-placement="top-bottom" data-aos-once="true">
                    <h3 class="decorator">My Current and Ongoing Degrees
                        <span></span>
                    </h3>
                    <p>
                        <b>Bachelor of Engineering - BE in Web Development</b>
                        <br>
                        <b>Associate's degree in Computer Science</b>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12 text-center mt-4">
            <h1>Skills</h1>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12">
            <div class="skill d-flex mt-0 w-70 yellow">
                <h2>Wordpress</h2>
                <h1>70%</h1>
            </div>
            <div class="skill right d-flex w-60 ml red">
                <h1>60%</h1>
                <h2>Angular</h2>
            </div>
        </div>
        <div class="col-12">
            <div class="skill d-flex w-80 blue">
                <h2>Photoshop,Ilustrator</h2>
                <h1>80%</h1>
            </div>
            <div class="skill right d-flex w-70 ml pink">
                <h1>70%</h1>
                <h2>PHP</h2>
            </div>
        </div>
        <div class="col-12">
            <div class="skill d-flex w-90 green">
                <h2>HTML, CSS, SASS</h2>
                <h1>90%</h1>
            </div>
            <div class="skill right d-flex w-80 ml yellow">
                <h1>80%</h1>
                <h2>JavaScript</h2>
            </div>
        </div>
    </div>
</section>
<section class="links-bottom">
    <div class="row">
        <div class="col-12 text-center">
            <h3>
                <a class="text-link" routerLink="/contact">
                    <span>Contact Me</span>
                </a>
            </h3>
        </div>
    </div>
</section>