<section>
    <div class="row">
        <div class="col-12 col-md-5">
            <h1>Interested?
                <br>
                <span>Reach out</span>
            </h1>
        </div>
        <div class="col-12 col-md-7 pl-md-4">
            <div class="big-text contact">
            </div>
        </div>
    </div>
</section>
<section class="contact-section">
    <div class="row">
        <div class="col-12 col-md-7">
            <span class="email d-flex">
                <a href="mailto:mickydeveloper@gmail.com?subject=We are happy to inform you" class="text-link">
                    <h2><span>mickydeveloper@gmail.com</span></h2>
                </a>
            </span>
        </div>
        <div class="col-12 col-md-5">
            <span class="linkedin d-flex">
                <a href="https://dk.linkedin.com/in/mikolaj-hyzy" class="text-link">
                    <h2><span>LinkedIn</span></h2>
                </a>
                <img src="../../assets/img/linkedin.svg">
            </span>
        </div>
    </div>
</section>