<section>
    <div class="row">
        <div class="col-12 col-md-5">
            <h1>I create to<br>
                <span id="type"></span>
            </h1>
        </div>
        <div class="col-12 col-md-7 pl-md-4 mt-7">
            <div class="big-text about">
                <div class="about-image-container">
                    <div class="img"></div>
                </div>
                <a class="text-link" routerLink="/about">Get to know me</a>
            </div>
        </div>
    </div>
</section>