<section>
    <div class="row">
        <div class="col-12 col-md-5">
            <h1>I create to<br>
                <span id="type"></span>
            </h1>
        </div>
        <div class="col-12 col-md-7 pl-md-4">
            <div class="big-text about">
                <div class="about-image-container">
                    <div class="img"></div>
                </div>
                <a class="text-link" routerLink="/about"><span>Get to know me</span></a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Projects</h1>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <a *ngFor="let project of projects"  [routerLink]="['/project', project.slug]"  class="col-12">
            <div class="module project">
              <h4>{{project.name}}</h4>
            </div>
        </a>
    </div>
</section>