@import 'media';

.tile-image{
    height: 21rem;

    &.big{
        height: 25rem;  
    }

    @include respond-to(medium-down){
        height: 14rem;

        &.big{
            height: 14rem;  
        }
    }

    @include respond-to(small-down){
        height: 12rem;
        position: absolute;
        width: 50%;
        z-index: -1;
        opacity: 0.2;

        &.right{
            right: 0;
        }

        &.big{
            height: 12rem;
        }
    }

    @include respond-to(extra-small){
        width: 70%;
    }
}