<footer>
    <div class="row">
        <div class="col-6 d-none d-md-flex text-left">
            ©2017 Mikolaj Hyzy
        </div>
        <div class="col-12 col-md-6 text-right">
            <span class="email">
                <a href="mailto:mickydeveloper@gmail.com" class="text-link">
                    <span>mickydeveloper@gmail.com</span>
                </a>
            </span>
            <span class="linkedin d-fled">
                <a href="https://dk.linkedin.com/in/mikolaj-hyzy" class="text-link">
                    <span>LinkedIn</span></a>
                <img src="../../assets/img/linkedin.svg">
            </span>
        </div>
    </div>
</footer>