<footer>
    <div class="row">
        <div class="col-4 d-none d-md-flex text-left">
            ©2017 Mikolaj Hyzy
        </div>
        <div class="col-12 col-md-8 text-right">
            <span class="email">
                <a href="mailto:mickydeveloper@gmail.com?subject=We are happy to inform you" class="text-link">
                    <span>mickydeveloper@gmail.com</span>
                </a>
            </span>
            <span class="github d-fled">
                <a href="https://github.com/mickydeveloper" class="text-link" target="_blank">
                    <span class="d-none d-md-inline-block">GitHub</span>
                </a>
                <a href="https://github.com/mickydeveloper" target="_blank">
                    <img src="../../assets/img/githubs.svg">
                </a>
            </span>
            <span class="linkedin d-fled">
                <a href="https://dk.linkedin.com/in/mikolaj-hyzy" class="text-link" target="_blank">
                    <span class="d-none d-md-inline-block">LinkedIn</span>
                </a>
                <a href="https://dk.linkedin.com/in/mikolaj-hyzy" target="_blank">
                    <img src="../../assets/img/linkedin.svg">
                </a>
            </span>
        </div>
    </div>
</footer>