@import '../../assets/scss/colors';

nav {
    margin-top: 45px;

    img.logo {
        width: 150px;
    }

    .links{
        justify-content: flex-end;

        a{
            margin-left: 30px;
            font-size: 20px;

            &.active{
                border-bottom: 2px solid $secondary;
            }
        }
    }
}

