@import '../../assets/scss/colors';

nav {
  img.logo {
    width: 145px;
  }

  .links {
    justify-content: flex-end;

    a {
      margin-left: 30px;
      font-size: 20px;

      &.active {
        &.text-link {
          span {
            &:after {
              content: "";
              width: 100%;
              transition: all 0.4s ease-in-out;
            }
          }
        }
      }
    }
  }
}

