@import '~bootstrap/scss/bootstrap';
@import './assets/scss/colors';
@import './assets/scss/font';
@import './assets/scss/common';
@import './assets/scss/ityped';

.vertical-center{
    display: flex;
    align-items: center;
}

a{
    color: $primary;

    &:hover, &:active, &:focus{
        color: $primary;
        text-decoration: none;
    }
}